<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<!--<link rel="import" href="/bower_components/px-card/px-card.html">-->
<!--<link rel="import" href="/bower_components/px-vis-timeseries/px-vis-timeseries.html">-->
<link rel="import" href="/elements/timeline-card/px-timeline.html">

<dom-module id="timeline-view">
    <template>
    <px-timeline id="mytimeline">

    </px-timeline>
  </template>
    <script>
        Polymer({
            is: 'timeline-view',
            properties: {

            }
        });
    </script>
</dom-module>
