<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-sample-cards/blank-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">"

<link rel="import" href="../../bower_components/px-table-view/px-table-row.html" />
<link rel="import" href="../../bower_components/px-table-view/px-table-row-action-button.html" />
<link rel="import" href="../../bower_components/px-table-view/px-table-row-swipe-behavior.html" />

<link rel="import" href="../../bower_components/px-table-view/px-table-view-icon.html" />
<link rel="import" href="../../bower_components/px-table-view/px-table-view-sortable-list.html" />

<link rel="import" href="../../bower_components/px-table-view/css/px-table-view-styles.html">
<link rel="import" href="../../bower_components/px-table-view/css/px-table-row-styles.html">

<dom-module id="blankpage-view">
    <template>

    <blank-card id="myCard">

      <select id="selectRowTemplate" items="{{participants}}" is="dom-repeat">
        <option value="{{items.title}}">{{items.title}}</option>
      </select>

      <h3>Account Name: <span><strong>{{user.fullname}}</strong></span></h3>
      <h3>Role: <span><strong>Consumer</strong></span></h3>
      <button on-tap="saveChanges">Save Changes</button>

    </blank-card>

    <!-- IronAjax used to load participants data from local json file. Later to use service URL -->
    <iron-ajax
      id="participantsIronAjax"
      url="/server/sample-data/persistantTable.json"
      last-response="{{_decksResponse}}">

      <!--
        // original
        auto
        url="[[_decksUrl]]""
      -->
    </iron-ajax>

  </template>
    <script>
        Polymer({
            is: 'blankpage-view',
            properties: {
                ready: function() {
                    //console.log('blankpage-view ready()');
                    //getCurrentTime();
                },
                user: {
                    type: Object,
                    first: String,
                    last: String,
                    fullname: String,
                    value: function() {
                        return {
                            first: 'John',
                            last: 'Smith',
                            fullname: 'John Smith'
                        };
                    }
                },
                participants: {
                    type: Array,
                    value: [{
                        "title": "SFO > NYC",
                        "body": "DPT Vaccine - Requirement: < 38 Fahrenheit",
                        "icon": "fa:fa-file-text-o"
                    }, {
                        "title": "SFO > MIA",
                        "body": "DPT Vaccine - Requirement: < 38 Fahrenheit",
                        "icon": "fa:fa-list-alt"
                    }, {
                        "title": "SFO > DFW",
                        "body": "DPT Vaccine - Requirement: < 38 Fahrenheit",
                        "icon": "fa:fa-check-square-o"
                    }, {
                        "title": "SFO > DCO",
                        "body": "DPT Vaccine - Requirement: < 38 Fahrenheit",
                        "icon": "fa:fa-check-square-o"
                    }, {
                        "title": "SFO > ARZ",
                        "body": "DPT Vaccine - Requirement: < 38 Fahrenheit",
                        "icon": "fa:fa-square-o"
                    }, {
                        "title": "SFO > ARK",
                        "body": "DPT Vaccine - Requirement: < 38 Fahrenheit",
                        "icon": "fa:fa-exclamation-triangle"
                    }, {
                        "title": "SFO > LAX",
                        "body": "DPT Vaccine - Requirement: < 38 Fahrenheit",
                        "icon": "fa:fa-exclamation-triangle"
                    }, {
                        "title": "SFO > SEA",
                        "body": "DPT Vaccine - Requirement: < 38 Fahrenheit",
                        "icon": "fa:fa-exclamation"
                    }, {
                        "title": "SFO > SLC",
                        "body": "DPT Vaccine - Requirement: < 38 Fahrenheit",
                        "icon": "fa:fa-flag-checkered"
                    }]
                },
            },
            saveChanges: function() {
                // Display confirmation
                this.set('user.manager', 'Jimmy');
            },



        });
    </script>
</dom-module>