<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../elements/three-widgets-card/three-widgets-card.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">

<dom-module id="blankpage2-view">
  <template>
 
    <three-widgets-card id="myCard">
      <!-- h3>Time: <span><strong>{{clock.time}}</strong></span></h3>
      An example of a blank card without any content (except for this brief description).  Replace this with the actual content for your application.
      <h3>Employee: <span><strong>{{user.name}}</strong></span></h3>
      <h3>Manager: <span><strong>{{user.manager}}</strong></span></h3>
      <button on-tap="changeManager">Change Manager</button -->
    </three-widgets-card>

   </template>
  <script>
    Polymer({
      is: 'blankpage2-view',
      properties: {
        ready: function() {
          //console.log('blankpage-view ready()');
          getCurrentTime();
        },
        user: {
          type: Object,
          value: function() {
            return { name: 'Rob', manager: 'Paul' };
          }
        },
        clock: {
          type: Object,
          value: function getCurrentTime() {
            var n = new Date().toLocaleTimeString();
            return { time: n };
            //self.async(getCurrentTime(), null, 1000);
          },
        }
      },
      changeManager: function() {
        this.set('user.manager', 'Jimmy');
      }
    });
  </script>
</dom-module>
