<link rel="import" href="../../bower_components/polymer/polymer.html">
<!-- link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-vis-timeseries/px-vis-timeseries.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" -->
<link rel="import" href="../../elements/data-table-card/data-table-card.html">

<dom-module id="tabledata-view">
    <template>
    <data-table-card id="mytableCard">

    </data-table-card>
  </template>
    <script>
        Polymer({
            is: 'tabledata-view',
            properties: {

            }
        });
    </script>
</dom-module>