<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../table-card/table-card.html">

<dom-module id="table-view">
    <template>
    <table-card id="mytablecard">

    </table-card>
  </template>

    <script>
        Polymer({
            is: 'table-view',
            properties: {

            }
        });
    </script>
</dom-module>