<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-vis-timeseries/px-vis-timeseries.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/px-timeline/px-timeline.html">

<dom-module id="timeline-view">
    <template>
    <px-card header-text="Ledger Timeline">
      <px-timeline id="mytimeline">



      </px-timeline>
    </px-card>
  </template>
    <script>
        Polymer({
            is: 'timeline-view',
            properties: {

            }
        });
    </script>
</dom-module>