<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-simple-line-chart/px-simple-line-chart.html">
<!-- link rel="import" href="../../bower_components/px-chart/px-chart-series-line-demo.html">
<link rel="import" href="../../bower_components/px-chart/px-chart-series-bar-demo.html">
<link rel="import" href="../../bower_components/px-chart/px-chart-series-histogram-demo.html">
<link rel="import" href="../../bower_components/px-chart/px-chart-series-scatter-demo.html" -->
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-sample-cards/treeview-card.html">

<dom-module id="treechart-view">
  <template>

    <px-view-header title="Treeview Chart" style="display: block; margin-bottom: 6px;"></px-view-header>

    <!-- px-chart-series-line id="mySample">
 
    </px-chart-series-line -->

    <treeview-card id="myCard">
      <div class="widget-1">
        <h1 class="epsilon">
          [[_simpleDataValuesB.data.name]]
        </h1>
        <div class="flex">
          <div class="flex">
            <div class="large-value">987</div>
            <div class="flex flex--col u-ml-">
              <small class="caps">Output</small>
              <small class="caps muted">mw</small>
            </div>
          </div>
          <div class="u-ml+ flex">
            <div class="large-value">1010</div>
            <div class="flex flex--col u-ml-">
              <small class="caps">Capacity</small>
              <small class="caps muted">mw</small>
            </div>
          </div>
        </div>
        <px-simple-line-chart
          line-data="[[_simpleDataValuesB.data.values]]"
          width="auto"
          max="10"
          min="0"
          threshold="5">
        </px-simple-line-chart>
        <iron-ajax
          url="/api/time-series/simple-data/2"
          last-response="{{_simpleDataValuesB}}"
          auto>
        </iron-ajax>
      </div>
    </treeview-card>

  </template>
  <script>
    Polymer({
      is: 'treechart-view',
      properties: {},
      ready: function() {
        console.log('treechart-view ready()')
      }
    });
  </script>
</dom-module>
